/* tillana-regular - latin */
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/tillana-v6-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/tillana-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/tillana-v6-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/tillana-v6-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/tillana-v6-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/tillana-v6-latin-regular.svg#Tillana') format('svg');
    /* Legacy iOS */
}

/* tillana-500 - latin */
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/tillana-v6-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/tillana-v6-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/tillana-v6-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/tillana-v6-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/tillana-v6-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/tillana-v6-latin-500.svg#Tillana') format('svg');
    /* Legacy iOS */
}

/* tillana-600 - latin */
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/tillana-v6-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/tillana-v6-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/tillana-v6-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/tillana-v6-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/tillana-v6-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/tillana-v6-latin-600.svg#Tillana') format('svg');
    /* Legacy iOS */
}

/* tillana-700 - latin */
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/tillana-v6-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/tillana-v6-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/tillana-v6-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/tillana-v6-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/tillana-v6-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/tillana-v6-latin-700.svg#Tillana') format('svg');
    /* Legacy iOS */
}

/* tillana-800 - latin */
@font-face {
    font-family: 'Tillana';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/tillana-v6-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/tillana-v6-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/tillana-v6-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/tillana-v6-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/tillana-v6-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/tillana-v6-latin-800.svg#Tillana') format('svg');
    /* Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.container {
    background-image: linear-gradient(#dedce4, #C3E3ED);
    font-family: 'Tillana';
    position: relative;
}

.main__heading {
    display: flex;
    justify-content: center;
}

.heading {
    color: #56515F;
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
}

.heading-pic1 img,
.heading-pic2 img {
    width: 80px;
    height: auto;
    margin-right: 30px;
    pointer-events: none;
}

.heading-pic2 img {
    transform: rotate(-6deg);
}

.calendar__area {
    margin: 0 auto;
    height: 600px;
    background-color: rgba(17, 32, 63, 0.37);
    display: flex;
    flex-direction: column;
}

.cal__header {
    display: flex;
    justify-content: space-between;
}

.weekdays {
    margin: 10px 0 10px;
    padding-left: 22.5em;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    text-align: center;
}

.monthDisplay {
    background-color: #e8dfd4;
    text-align: center;
    padding: 4px;
    margin-left: 5em;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.habit {
    display: flex;
    align-items: center;
}

.habit__checkboxes {
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    width: 100%;
}

.habit__checkboxes input {
    cursor: pointer;
    max-width: 50px;
    width: 100%;
    height: 20px;
}

.habit__name {
    max-width: 323px;
    width: 100%;
}

.habit__name input {
    width: 100%;
}

input.habit__text {
    cursor: pointer;
}

.add__habit-btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    background-color: rgb(152, 223, 164);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 1px 3px 6px #0000003d;
}

.habit__delete button {
    background-color: lightcoral;
    outline: none;
    border: none;
    width: 30px;
    margin-right: 6px;
    height: 100%;
}